.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 10px;
}

.header{
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 30px;
}
.header span{
    color: #De1b89;
    font-weight: 600;
}

.img-loading{
    display: flex;
    flex-direction: column;
}

.img-loading img{
    width: 512px;
}


.seacrh-box{
    display: flex;
    width: 1000px;
    height: 96px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1f3540;
}

.seacrh-box .search-input{
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    margin-right: 35px;
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 20px;
}

.seacrh-box .generate-btn{
   background: #De1b89;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 300px;
   height: 85px;
   text-align: center;
   border-radius: 50px;
   cursor: pointer;
   font-size: 20px;
   border: 2px solid #De1b89;
}

.seacrh-box .generate-btn:hover{
    background: transparent;
    color: #De1b89;
    transition: all 0.3s ease ;

}